absl-py
appnope
asttokens
astunparse
attrs
beautifulsoup4
bs4
certifi
charset-normalizer
click
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
filelock
flatbuffers
fonttools
fsspec
gast
google-pasta
grpcio
h11
h5py
huggingface-hub
idna
ipykernel
ipython
ipywidgets
jedi
joblib
jupyter_client
jupyter_core
jupyterlab_widgets
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
namex
nest-asyncio
nltk
numpy
opt_einsum
optree
outcome
packaging
pandas
parso
pexpect
pickleshare
pillow
platformdirs
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
Pygments
pyparsing
PySocks
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
rich
safetensors
scikit-learn
scipy
seaborn
selenium
six
sniffio
sortedcontainers
soupsieve
stack-data
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
tf_keras
threadpoolctl
tokenizers
tornado
tqdm
traitlets
transformers
trio
trio-websocket
typing_extensions
tzdata
urllib3
wcwidth
websocket-client
Werkzeug
widgetsnbextension
wrapt
wsproto
