<style>
    .intro-banner {
        width: 100%;
        height: 100%;
    }

    .intro-banner-text {
        position: absolute;
        left: 0;
        right: 0;
        color: white;
        text-shadow: 0 0 20px black;
        font-weight: bold;
    }

    .intro-banner-title {
        top: 8%;
        font-size: 4em;
    }

    .intro-banner-subtitle {
        top: 28%;
        font-size: 1.7em;
    }

    .intro-banner-subsubtitle {
        top: 85%;
        font-size: 1.3em;
    }

    .intro-banner-credits {
        top: 93%;
        font-size: 1em;
    }

    .intro-banner-container {
        position: relative;
        margin-top: -5%;
        text-align: center;
    }

</style>

<div class="intro-banner-container">
    <img src="images/nouvelle-banniere-lina.jpg" alt="Inside Out background image" class="intro-banner-banner">
    <div class="intro-banner-text intro-banner-title">From Screen To Heart</div>
    <div class="intro-banner-text intro-banner-subtitle">How do emotions shape the cinematic landscape?</div>
    <div class="intro-banner-text intro-banner-subsubtitle">A project emotionally created by the Team SPARKling</div>
    <div class="intro-banner-text intro-banner-credits">Sofia Taouhid • Matthias Wyss • Lina Sadgal • Yasmine Tligui • Guillaume Vitalis</div>
</div>

