<style>
    .container-genres-surprise {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
  
    .iframe-container-genres-surprise {
        flex: 0 0 70%;
        width: 400px;
        height: 700px;
    }
  
    .image-container-genres-surprise {
        flex: 0 0 30%;
        width: 400px;
        height: auto;
    }
  
    .iframe-container-genres-surprise iframe {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
  
    .image-container-genres-surprise img {
        width: 100%;
        height: 100%;
        transition: transform 0.2s;
    }

    .image-container-genres-surprise img:hover {
        transform: scale(1.05);
    }
  </style>
  
  <div class="container-genres-surprise">
    <div class="iframe-container-genres-surprise">
        <iframe src="plots/genres_proportions_False.html"></iframe>
    </div>
    <div class="image-container-genres-surprise">
        <img src="images/surprise_movie_genres.png" alt="Surprise saying that a lot of genres">
    </div>
  </div>