<style>
    .container-joy_is_sad {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .paragraph-container-joy_is_sad {
        flex: 0 0 68%;
    }

    .image-container-joy_is_sad {
        flex: 0 0 28%;
    }

    .image-container-joy_is_sad img {
        width: 100%;
        height: 100%;
        transition: transform 0.2s;
    }

    .image-container-joy_is_sad img:hover {
        transform: scale(1.05);
    }
</style>

<div class="container-joy_is_sad">
    <div class="paragraph-container-joy_is_sad">
        <p style="text-align: justify;">Even Finland, the world’s happiest country, seems to be stuck between sadness and disgust and only displays joy once.<br>While hovering over different countries, we observe that <b>Joy</b> and <b>Surprise</b> rarely appear in the map and almost systematically are the last emotion scores for countries. If we make a little historical parallel, we can think of the 20th century as the century of the two world wars, so perhaps this is why violent or sad movies are the ones that have emerged the most. So another time, filmmakers of the time may have leaned into these themes to reflect the collective trauma and struggles, using cinema as both a mirror of harsh reality and a tool to forever etch these defining events into memory. They don’t just reflect the trends of the moment month-by-month, but adapt their stories, themes, and above all, the overarching emotions to translate the upheavals of the times and the defining events of each decade.</p>
    </div>
    <div class="image-container-joy_is_sad">
        <img src="images/joy_is_sad.jpeg" alt="Joy is sad">
    </div>
</div>
